<h1>Listing errors from all categories</h1>
<span>
	Number of listed errors: <strong><%= @errors.count %></strong>
</span>
<div>
	<table class="errors">
	  <%= render :partial => "shared/table_head_sortable", :object=>@links_direction %>
	  <%= render :partial => "shared/table_body", :object => @errors %>
	</table>
</div>
<br />
