<h1>Listing users</h1>

<table class="users">
  <thead>
  	<tr>
	    <th>Id</th>
		<th>Name</th>
	    <th>Affilitation</th>
	    <th></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
	<td><%= user.name %></td>
    <td><%= user.affilitation %></td>
    <td><%= link_to('Show', project_user_path(project_id(), user.id)) %></td>
  </tr>
<% end %>
</table>
