<p id="notice"><%= notice %></p>
<h2>Showing <%= @user.name %>'s recent errors</h2>
<br/>
<table class="errors">
  <%= render :partial => "shared/table_head_sortable" %>
  <%= render :partial => "shared/table_body", :object => @errors %>
</table>
