<table class="categories ajax_details">
	<%= render(:partial => "shared/error_details_table", locals: { full: 0 }) %>
</table>
<% if @error.loc_file_hash!=nil %>
	<br />
	<%= image_tag('loader.gif', id: "source_loader" + @error.id.to_s) %>
<% end %>
