<table class="categories ajax_details">
	<%= render(:partial => "shared/error_details_table", locals: { full: 0 }) %>
</table>
<% if @error.loc_file_hash!=nil %>
	 <br />
	 <img id="source_loader<%= @error.id %>" src="/assets/loader.gif" />
<% end %>
