<p id="notice"><%= notice %></p>
<h3>Showing source code for error <%=  @error.id %></h3>
<p>
 <%= render :partial => "shared/error_details_table", :object => @error %>
 <br/>
 <% if @source_output != "" %>
         <hr/>
         <h3>Source: </h3>
         <br/>
         <%= @source_output %>
 <% end %>
</p>
